# Preprocessing of Neighbourhoods File

In [5]:
import pandas as pd

In [6]:
calendar = pd.read_csv('../Data/calendar.csv.gz')
calendar.info()
calendar.head()

C:\Users\bendi\AppData\Local\Temp\ipykernel_18904\4255193737.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar = pd.read_csv('../Data/calendar.csv.gz')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891162 entries, 0 to 2891161
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: int64(3), object(4)
memory usage: 154.4+ MB

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,6624,2025-03-02,t,$320.00,NaN,3,50
1,6624,2025-03-03,t,$320.00,NaN,3,50
2,6624,2025-03-04,t,$320.00,NaN,3,50
3,6624,2025-03-05,t,$320.00,NaN,3,50
4,6624,2025-03-06,t,$320.00,NaN,3,50